################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ParticleLexer/obj/Debug/ParticleLexer.csprojResolveAssemblyReference.cache
/ParticleLexer/obj/Debug/ParticleLexer.csproj.CoreCompileInputs.cache
/ParticleLexer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/.vs/ParticleLexer/v15/Server/sqlite3
/ParticleLexerUnitTest/obj/Debug
/ParticleLexerViewer/obj/x86/Debug
/.vs/ParticleLexer/v15
/ParticleLexer/bin/Debug
/ParticleLexer/obj/Debug
/ParticleLexerUnitTest/bin/Debug
/ParticleLexerViewer/bin/Debug
/.vs/ParticleLexer/v16
/ParticleLexer/obj
