################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ParticleLexer/obj/Debug/ParticleLexer.csprojResolveAssemblyReference.cache
